* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background: grey;
}
 h2 {
 	color: #008036;
 }

 a {
 	text-decoration: none;
 	background: white;
 	color: #008036;
 }