* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #008036;
}
a {
	text-decoration: none;
	font-size: 2em;
	background: white;
	color: #008036;
	border-radius: 20px;
}
img {
	width: 500px;
}

div {
	text-align: center;
}

