@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Agbalumo, cursive;
	background: azure;
	font-family: Rubik;
}

header {
	background:#008036;
	color: #FFFFFF;
}

h2 {
	margin: 1em;
	padding: 1em;
	display: inline-block;
	text-align: center;
	justify-content: space-around;
	background:#008036;
	color: #FFFFFF;
	border-radius: 50px;
}
h3 {
	margin: 1em;
	padding: 1em;
	color: #008036;
	font-size: 1,5em;
}

footer {
		background:#008036; 
		color: #FFFFFF;
}

div {
	margin: 1em;
	padding: 0,5em;
}

ul {
	padding: 1em;
	font-size: 20px;
	min-width: 500px;
	display: inline-flex;
	justify-content: flex-end;
	gap:  20px;
}

ul li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}

.sticky {
position: sticky;
float: right;
}

.carousel {
	justify-content: center;
}
.copy {
	text-align: center;
}
.ubi {
	text-align: center;
}
.buscar {
	border-radius: 50px;
}
.buscar2 {
	border-radius: 50px;
}

@media (max-width: 576px) {
	ul {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (min-width: 577px) and (max-width: 1000px) {
	ul {
		display: inline;
	}
}

@media (max-width: 1001px) {
	ul {
		display: inline-flex;
	}
}

li:hover {
	border: 2px solid white;
	border-radius: 50px;
}

h2:hover {
	background: red;
}

h2:active {
	background: red;
}

