@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 1em;
	font-family: Agbalumo, cursive;
	font-family: Rubik;
	text-align: center;
	background:#008036;
	color: #FFFFFF;
}

h2 {
	margin: 1em;
	padding: 1em;
	font-family: Agbalumo, cursive;
	font-family: Rubik;
	text-align: center;
	color: #008036;
	text-decoration: none;
}

img {
	width: 100px;
}
h3 {
	padding: 1em;
	font-family: Agbalumo, cursive;
	font-family: Rubik;
	background:#008036;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}


div {
	text-align: center;
}

